<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Label</key><string>dev.oracletunnel.xray</string><key>ProgramArguments</key><array><string>/Library/Application Support/Oracle Tunnel/xray</string><string>run</string><string>-config</string><string>/Library/Application Support/Oracle Tunnel/client.json</string></array><key>StandardErrorPath</key><string>/var/log/oracle-tunnel.log</string></dict></plist>
